* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
  }
.nav {
    max-width: 1920px;
    width: 100%;
    background-color: blue;
    position: relative;
}

.nav-list {
    display: inline-block;
}


.container {
    width: 1200px;
    max-width: 100;
    margin: 0 auto;
}

.container h2 {
    margin-top: 30px;
    font-size: 28px;
}

.images {
    margin-top: 60px;
}

.text-wrap {
    margin-top: 60px;
    margin-left: 121px;
    max-width: 950px;
    width: 100%;
    font-size: 16px;

}

.text-2 {
    margin-top: 18px;
}

.text-3 {
    margin-top: 18px;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 25px;
}

.cover {
    position: absolute;
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
footer {
    background-color: #0A22F4;
    margin-top: 180px;
}
.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 275px 240px 40px;
}
.p-first {
    display: flex;
    flex-direction: column;
}
.p-first p {
    margin-top: 30px;
}
.about-text{
    width: 463px;
    font-size: 16px;
}

.map {
    margin-top: 58px;
}

.more-info {
    margin-top: 60px;
    display: flex;
}
.more-info-item {
    margin-right: 98px;
}

.information {
    margin-top: 60px;
}

.info {
    display: flex;
    flex-direction: column;
}
.info input {
    border: none;
    color: #FFFFFF;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    outline: none;
    margin-bottom: 40px;
    height: 40px;
    width: 463px;
}
.info label {
    color: #FFFFFF;
    font-size: 16px;
}
.bottom {
    padding-left: 240px;
    padding-right: 241px;
    padding-bottom: 32px;
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
}
.bottom-rest {
    display: flex;
    text-align: right;
}
.heart-text {
    margin-right: 30px;
}

@media (max-width:768px) {
    .cover {
        width: 100%;
        max-width: 334px;
        height: auto;
    }
    .container h2 {
        font-size: 18px;
    }
    .text-wrap {
        font-size: 14px;
        width: 334px;
    }
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 10px;
    }
    .main-footer {
        display: flex;
        flex-wrap: wrap-reverse;
        max-width: 375px;
        width: 100%;
    }
    .info input {
        width: 334px;
    }
    .map {
        width: 334px;
    }
    .images {
        width: 162px;
    }
    }